* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}
/* Navbar */
.nav-container {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  color: white;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 50px;
  color: black;
}
.nav-logo img {
  width: 100px;
}
.nav-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-right: 50px;
}
.nav-text a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.nav-text a:hover {
  color: black;
}

/* Home Page */

.home {
  width: 100%;
}
.home-main {
  height: 92vh;
  background-image: url(./assets//image/Home.jpg);
  background-repeat: no-repeat;
  background-position-x: -190px;
  background-position-y: -297px;
  background-size: cover;
}
.home-text {
  display: flex;
  align-items: center;
  width: 700px;
  padding-inline: 100px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.home-text h1 {
  font-size: 70px;
  line-height: 1.2;
}
.input-box {
  margin-inline: 100px;
  width: 400px;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.input-box input {
  width: 340px;
  height: 45px;
  border: none;
  outline: none;
  font-size: 20px;
}

.search-btn {
  font-size: 30px;
  color: black;
}

/* Recipe Card */

.recipes {
  margin: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.recipe {
  overflow: hidden;
  width: 300px;
  height: 425px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-radius: 7px;
  border: 0.1px solid gray;
}
.recipe .label {
  height: 50px;
  margin-left: 10px;
  font-size: 18px;
}
.recipe .button {
  font-size: 18px;
  width: 300px;
  height: 40px;
  background-color: rgb(5, 230, 5);
  border: none;
}
.recipe .button:hover {
  background-color: rgb(98, 187, 98);
}
.recipe-img {
  width: 300px;
  height: 300px;
}

/* New Recipe */
.new-recipe-text {
  margin-left: 90px;
  font-size: 14px;
}

/* Trending */

.trending-recipe-text {
  margin-left: 90px;
  font-size: 14px;
}
/* Favorite */
.favorite-recipes-text {
  margin-left: 90px;
  font-size: 14px;

}

/* About */
.about {
  padding: 10px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-radius: 7px;
  border: 0.1px solid gray;
}

.about-main {
  text-align: center;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 1em;
}

.about ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 1em;
}

/* Contact.css */
.contact {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-radius: 7px;
  border: 0.1px solid gray;
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
}

.contact h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  background-color: rgb(175, 175, 175);
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

button {
  padding: 0.75em;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.popup {
  text-align: center;
}

/* Loader */

.loader-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: green;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* RecipeDetails */

.recipe-detail {
  margin-block: 40px;
 margin-inline: 70px;
  display: flex;
  align-items: flex-start;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-radius: 7px;
  border: 0.1px solid gray;
}
.recipe-details-text {
  width: 60%;
  margin: 20px;
}
.recipe-details-text h2 {
  margin: 30px;
}
.recipe-details-text p {
  margin: 30px;
}
.recipe-details-text a {
  text-decoration: none;
  color: #007bff;
}
.fav-btn {
  margin: 30px;
}
.recipe-details-img {
  width: 400px;
  height: 400px;
  margin: 40px;
  gap: 10px;
}
.recipe-details-img img {
  width: 400px;
  border-radius: 10px;
}

.footer{
  text-align: center;
}


